<%- include("./partials/header.ejs") %> <% for(let one of cohort ) { %>
<div style="border: solid black 1px; margin-bottom: 3px">
  <% if(one.logoUrl) {%>
  <img
    style="border-radius: 50%; width: 2vw; height: 4vh; float: left"
    src="<%- one.logoUrl %> "
    alt="<%-one.name  %> logo "
  />
  <% } %>
  <h2><%-one.name %></h2>
  <p><%- one.members %></p>
  <a class="btn btn-primary" href="/cohort/<%- one.id %> ">Show Cohort</a>
</div>
<% } %> <%- include("./partials/footer.ejs") %>
